.staffers-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 10vw;
}

.current-staffers-container,
.former-staffers-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.current-staffer-cards-container,
.former-staffer-cards-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    padding: 10px 20px;
}

.staffer-card {
    /* background-color: aqua; */
    flex: 0 1 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
    min-width: 15vw;
    max-width: 30vw;
    padding: 10px;
    border: 1px antiquewhite solid;
    border-radius: 10px;
    text-wrap: wrap;
}

.staffer-position{
    text-align: center;
}
.staffer-card>p {
    margin: 1px;
}

.staffer-name {
    font-size: larger;
    font-weight: 500;
}

.staffer-position {
    font-size: medium;
}

.staffer-image {
    margin: 10px 0;
    max-width: 90vw;
    border: 1px black solid;
    border-radius: 10px;
}

.staffer-bio {
    margin: 3px 0px;
    text-align: justify;
}

@media only screen and (min-width: 1024px) {
    .staffer-card {
        /* background-color: aqua; */
        flex: 1 1 20%;
    }

    .current-staffer-cards-container,
    .former-staffer-cards-container {
        display: flex;
        gap: 5vw;
    }

    .staffer-image {
        max-height: 30vh;
        max-width: 30vw;
    }

}