.article-card-img-container {
    width: 80/3vw;
    height: 13vw;
    overflow: hidden;
    position: relative;
}

.article-card-img {
    width: 100%;
    height: auto;
    border-radius: 7px;
    /* position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); */
}