#logo-container {
    padding: 20px 0px 40px;
}

#DC-logo {
    padding-left: 25px;
    max-width: 80vw;
    height: auto;
}

#projects-logo {
    position: relative;
    left: -18px;
    top: 15px;
    max-width: 13vw;
}

@media only screen and (min-width: 1024px) {
    #DC-logo {
        max-width: 50vw;
        height: auto;
    }

    #projects-logo {
        position: relative;
        left: -10px;
        top: 30px;
        max-width: 8vw;
    }
}