.bp-line-div {
    margin-left: 5vw;
    margin-right: 5vw;
}

.bp-line-note,
.bp-line-about-data {
    font-size: small;
}

.bp-line-about-data {
    color: rgb(145, 145, 145);
}

.bp-ridership-legend{
    display: flex;
    justify-content: center;
}

.bp-ridership-radio-div {
    display: flex;
    align-items: center;
    justify-content: center;
    /* margin: auto; */
}